@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

html{
    background-color: black;
}

.div{
    font-family: 'Fira Code', monospace;
    font-size: 24px;
    height: 200px;
    top: 25%;
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
}
.comingsoon{
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    top: 5%;
    height: 16px;
    justify-content: center;
    display: flex;
    color: white;
    position: relative;
}